#include <dt-bindings/usb-c/pd.h>

/ {
	aliases {
		usbc-port0 = &port1;
	};

	// https: //www.st.com/resource/en/user_manual/um2773-getting-started-with-the-xnucleosnk1m1-usb-typec-power-delivery-sink-expansion-board-based-on-tcpp01m12-for-stm32-nucleo-stmicroelectronics.pdf
	vbus1: vbus {
		compatible = "zephyr,usb-c-vbus-adc";
		io-channels = <&adc1 3>;
		output-ohms = <40200>;
		full-ohms = <(200000 + 40200)>;

		/* Pin B13 is used to control VBUS Discharge for Port1 */
		// discharge-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port1: usbc-port@1 {
			compatible = "usb-c-connector";
			reg = <1>;
			tcpc = <&ucpd1>;
			vbus = <&vbus1>;
			power-role = "sink";
			sink-pdos = <PDO_FIXED(5000, 100, 0)>;
		};
	};
};

/*
Just copied from zephyr/boards/arm/stm32g081b_eval/stm32g081b_eval.dts

See:
- https: //github.com/zephyrproject-rtos/zephyr/blob/d34f725df81852b468dba2727a4d569022cb907d/dts/arm/st/g0/stm32g071.dtsi#L37
- https: //docs.zephyrproject.org/latest/build/dts/api/bindings/tcpc/st,stm32-ucpd.html

Probably needs some tweaking.
 */
// &ucpd1 {
	//   status = "okay";

	//   // dead-battery;
	//   /*
	//    * UCPD is fed directly from HSI which is @ 16MHz. The ucpd_clk goes to
	//    * a prescaler who's output feeds the 'half-bit' divider which is used
	//    * to generate clock for delay counters and BMC Rx/Tx blocks. The rx is
	//    * designed to work in freq ranges of 6 <--> 18 MHz, however recommended
	//    * range is 9 <--> 18 MHz.
	//    *
	//    *          +-------+ @ 16 MHz +-------+   @ ~600 kHz   +-----------+
	//    * HSI ---->| /psc  |--------->| /hbit |--------------->| trans_cnt |
	//    *          +-------+          +-------+   |            +-----------+
	//    *                                         |            +-----------+
	//    *                                         +----------->| ifrgap_cnt|
	//    *                                                      +-----------+
	//    * Requirements:
	//    *   1. hbit_clk ~= 600 kHz: 16 MHz / 600 kHz = 26.67
	//    *   2. tTransitionWindow - 12 to 20 uSec
	//    *   3. tInterframGap - uSec
	//    *
	//    * hbit_clk = HSI_clk / 27 = 592.6 kHz = 1.687 uSec period
	//    * tTransitionWindow = 1.687 uS * 8 = 13.5 uS
	//    * tInterFrameGap = 1.687 uS * 17 = 28.68 uS
	//    */
	//   psc-ucpdclk = <1>;
	//   hbitclkdiv = <27>;

	//   /* Confirmed to be the same pins in the stm32g071rb datasheet */
	//   pinctrl-0 = <&ucpd1_cc1_pa8 &ucpd1_cc2_pb15>;
	//   pinctrl-names = "default";
// };

// &adc1 {
	//   channel@3 {
		//     reg = <3>;
		//     zephyr,gain = "ADC_GAIN_1";
		//     zephyr,reference = "ADC_REF_INTERNAL";
		//     zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		//     zephyr,resolution = <12>;
		//     zephyr,vref-mv = <3300>;
	//   };
// };
&adc1 {
	pinctrl-0 = <&adc1_in3_pa3 &adc1_in9_pb1>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@9 {
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};
};

&iwdg {
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};

// zephyr_udc0: &usb {
	//   pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	//   pinctrl-names = "default";
	//   status = "okay";
// };
